h2 {
       color: blue;
       font-size: 70x;
       font-family: "Times New Roman";
       margin: 1px;
       background-color: white;
       text-align: center;
     }
     p {
       color: black;
       background-color: rgb(235, 222, 240);
       font-family: "Times New Roman";
       font-size: 15px;
       text-align: justify;
     }